<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogParser.DesktopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LogParser.DesktopClient.Properties.Settings>
            <setting name="KibanaMccoreBaseUri" serializeAs="String">
                <value />
            </setting>
            <setting name="KibanaMccoreLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="KibanaMirBaseUri" serializeAs="String">
                <value />
            </setting>
            <setting name="KibanaMirLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedKibanaAccount" serializeAs="String">
                <value>0</value>
            </setting>
        </LogParser.DesktopClient.Properties.Settings>
    </userSettings>
</configuration>